@charset "UTF-8";

p {
    margin: 0;
}

.foto-perfil {
    border-radius: 100%;
    max-width: 200px;
}

.personalidade {
    color: #9255fd;
}

.icon-tamanho {
    width: 35px;
}

.distancia {
    margin-left: 7.56px;
}

.bg-habilidades {
    background: #9255fd;
}

.botao-habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11.33px;
    border-radius: 100px;
    background-color: #eeeeee;
}

.texto-motivacao {
    font-family: Nunito Sans;
    font-size: 18.13px;
    font-weight: 400;
    line-height: 24.73px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.texto-goals {
    font-family: Nunito Sans;
    font-size: 18.13px;
    font-weight: 400;
    line-height: 24.73px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.texto-pain {
    font-family: Nunito Sans;
    font-size: 18.13px;
    font-weight: 400;
    line-height: 24.73px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.progresso-skills{
    width: 75%
}